[run]
source = pupyl
omit =
    pupyl/web/*
    setup.py

[report]
exclude_lines =
    def pupyl()
    # Excluding GPU discovery (below method) from coverage because
    # most of CI/CD platforms doesn't have this kind
    # of hardware available and always will be missed
    # from the coverage report.
    def acceleration_discovery(self)
